<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog\Helper\Image" type="Dm\NiceImageName\Plugin\Image"/>
    <type name="Magento\Catalog\Block\Product\ImageFactory">
        <plugin name="dm_niceimagename" type="Dm\NiceImageName\Plugin\ImageFactory"/>
    </type>
    <type name="Magento\Catalog\Model\Product">
        <plugin name="dm_niceimagename_product" type="Dm\NiceImageName\Plugin\Product"/>
    </type>
</config>
