<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="dm_niceimagename" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>SEO Bildernamen</label>
            <tab>deltamedia</tab>
            <resource>Dm_NiceImageName::config</resource>
            <group id="general" translate="label" type="text" sortOrder="-100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>SEO Bildernamen</label>
                <attribute type="expanded">1</attribute>
                <field id="enabled" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Aktiv?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="scheme" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Bildername</label>
                    <validate>required-entry</validate>
                </field>
            </group>
        </section>
    </system>
</config>